<!-- <div class="text-center"> -->

{{#each projects as |project|}}
<form id="seeMore" class="form-group seeMore" id="{{project.id}}" data-id="{{project.id}}">
  <div style="background-color:white; border-radius:5px; padding:5px;" data-id="{{project.id}}" class="project-post col-md-8">
    <button type="submit" class="btn btn-default" id="get-project">edit {{project.title}}</button>
    <ul style="list-style-type: none;">
      <li><h4><strong>Project: {{project.title}}</strong></h4></li>

      <li class="desc"><strong>Project Description:</strong> {{project.body}}</li>
  </ul>
<<<<<<< HEAD
<<<<<<< HEAD
  <br>
  <!-- <form id="seeMore" class="form-group seeMore" id="{{project.id}}" data-id="{{project.id}}"> -->
    <div class="form-group">
      <input class="form-control hidden" type="text" name="project[id]" value="{{project.id}}">
    </div>
  <!-- <button type="submit" class="btn btn-default" id="get-project">edit this project</button> -->
=======
  <form id="seeMore" class="form-group seeMore" id="{{recipe.id}}" data-id="{{recipe.id}}">
=======
  <br>
  <!-- <form id="seeMore" class="form-group seeMore" id="{{project.id}}" data-id="{{project.id}}"> -->
>>>>>>> uiFixes
    <div class="form-group">
      <input class="form-control hidden" type="text" name="project[id]" value="{{project.id}}">
    </div>
<<<<<<< HEAD
  <button type="submit" class="btn btn-default" id="get-project">get one project</button>
>>>>>>> updateTasks
=======
  <!-- <button type="submit" class="btn btn-default" id="get-project">edit this project</button> -->
>>>>>>> uiFixes
  </form>
 </div>
 <div style="background-color:white; border-radius:5px; padding:5px;" class="tasks col-md-8">
   <ul>
     {{#each tasks as |task|}}
     <li><h5><strong>Task: {{task.name}}</strong></h5></li>
     <li class="desc"><strong>Task Description:</strong> {{task.description}}</li>
      {{/each}}
    </ul>
  </div>
<br>


{{/each}}
